/* styles.css */

#map-canvas {
    width: 640px;
    height: 480px;
}

.container {
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    height: 100vh;
}

.col-high {
    height: 100vh;
    padding: 0;
}

.text-center {
    text-align: center;
    width: 100%;
}

#column-status-title {
    height: 10%;
    width: 100%;
    box-shadow: 0px 5px 10px grey;
    display: flex;
    align-items: center;
}

#column-status {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
}

input {
    border: 1px solid #ccc;
    background-color: white;
    color: grey;
    font-size: 1rem;
    text-align: center;
}

/* CIRCLES */
.circle-green {
    fill:green;
}

.circle-red {
    fill:red;
}

.circle-yellow {
    fill:yellow;
}